# Dependency (Sangat penting agar repo tidak berat)
node_modules/

# File Konfigurasi Sensitif (Penting untuk keamanan!)
.env

# Sertifikat SSL/Localhost Keys (Penting untuk keamanan!)
backend/localhost-key.pem
backend/localhost.pem

# File Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mengabaikan folder uploads di mana pun posisinya dalam proyek
**/uploads/

# Tetap izinkan file .gitkeep agar folder tidak hilang di GitHub
!**/uploads/.gitkeep